<div class="relative bg-red-100 dark:bg-stone-900 text-stone dark:text-white flex size-full min-h-screen flex-col bg-[#fcf8f8] group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
  <div class="layout-container flex h-full grow flex-col">
    <%= render "partials/header" %>
    <div class="flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col max-w-[100%] flex-1">
        <div class="@container">
          <div class="@[480px]:p-4">
            <div
            class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-4"
            style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://cdn.usegalileo.ai/sdxl10/88968a50-7816-4ec6-b677-aef128b59c31.png");'
            >
            <div class="flex flex-col gap-2 text-center">
            <%= image_tag "logo.png", class: "mt-10 mb-10" %>
          </div>
          <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-rose-500 text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
          >
          <span class="truncate">Más información</span>
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-10 px-4 py-10 @container">
    <div class="flex flex-col gap-4">
      <h1
      class="text-stone-900 dark:text-white tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
      >
      Nuestros programas
    </h1>
    <p class="text-stone-900 dark:text-white text-base font-normal leading-normal max-w-[720px]">
      We offer a variety of programs designed to develop your child's soccer skills. Whether they're just starting out or have been playing for years, we have a program
      that's right for them.
    </p>
  </div>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3">
    <div class="flex flex-col gap-3 pb-3">
      <div
      class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
      style='background-image: url("https://cdn.usegalileo.ai/sdxl10/dcc7bdb5-f6eb-4a87-b18a-bcf6993ce94a.png");'
      ></div>
      <div>
        <p class="text-stone-900 dark:text-white text-base font-medium leading-normal">Youth Development Academy</p>
        <p class="text-[#a14545] text-sm font-normal leading-normal">For kids ages 8-12 who are new to competitive soccer.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3 pb-3">
      <div
      class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
      style='background-image: url("https://cdn.usegalileo.ai/sdxl10/c119a73e-1722-42c4-8347-ec1771174689.png");'
      ></div>
      <div>
        <p class="text-stone-900 dark:text-white text-base font-medium leading-normal">Pre-Academy Program</p>
        <p class="text-[#a14545] text-sm font-normal leading-normal">For kids ages 5-7 who are ready to take their skills to the next level.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3 pb-3">
      <div
      class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
      style='background-image: url("https://cdn.usegalileo.ai/sdxl10/f5b314ed-ee8d-4467-a6bd-a1cb4120184b.png");'
      ></div>
      <div>
        <p class="text-stone-900 dark:text-white text-base font-medium leading-normal">Academy Program</p>
        <p class="text-[#a14545] text-sm font-normal leading-normal">For kids ages 13-19 who are serious about playing soccer at a high level.</p>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
  <div class="flex flex-col gap-3">
    <div
    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
    style='background-image: url("https://cdn.usegalileo.ai/stability/d2beeb2d-6b65-4f0a-b3f9-9033a3e1bc3c.png");'
    ></div>
  </div>
  <div class="flex flex-col gap-3">
    <div
    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
    style='background-image: url("https://cdn.usegalileo.ai/stability/742c954a-9c20-40ec-85c3-a68bdc9a4e1c.png");'
    ></div>
  </div>
  <div class="flex flex-col gap-3">
    <div
    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
    style='background-image: url("https://cdn.usegalileo.ai/stability/d724818d-903e-4013-962d-41865efcf7cf.png");'
    ></div>
  </div>
</div>
<h2 class="text-stone-900 dark:text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Locations</h2>
<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
  <div class="flex flex-col gap-3 pb-3">
    <div
    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
    style='background-image: url("https://cdn.usegalileo.ai/stability/476d23d3-b7b2-445b-a595-a633905c28f8.png");'
    ></div>
    <p class="text-stone-900 dark:text-white text-base font-medium leading-normal">San Francisco</p>
  </div>
  <div class="flex flex-col gap-3 pb-3">
    <div
    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
    style='background-image: url("https://cdn.usegalileo.ai/stability/c8fff9b8-d3a8-42d1-a929-5b3ac39fc24f.png");'
    ></div>
    <p class="text-stone-900 dark:text-white text-base font-medium leading-normal">San Jose</p>
  </div>
  <div class="flex flex-col gap-3 pb-3">
    <div
    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
    style='background-image: url("https://cdn.usegalileo.ai/stability/29f0da74-08aa-4727-94ef-a216d7b5a272.png");'
    ></div>
    <p class="text-stone-900 dark:text-white text-base font-medium leading-normal">Pleasanton</p>
  </div>
</div>
<h2 class="text-stone-900 dark:text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Contact Us</h2>
<div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
  <label class="flex flex-col min-w-40 flex-1">
    <input
    placeholder="Name"
    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-stone-900 dark:text-white focus:outline-0 focus:ring-0 border border-[#eacdcd] bg-[#fcf8f8] focus:border-[#eacdcd] h-14 placeholder:text-[#a14545] p-[15px] text-base font-normal leading-normal"
    value=""
    />
  </label>
</div>
<div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
  <label class="flex flex-col min-w-40 flex-1">
    <input
    placeholder="Email"
    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-stone-900 dark:text-white focus:outline-0 focus:ring-0 border border-[#eacdcd] bg-[#fcf8f8] focus:border-[#eacdcd] h-14 placeholder:text-[#a14545] p-[15px] text-base font-normal leading-normal"
    value=""
    />
  </label>
</div>
<div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
  <label class="flex flex-col min-w-40 flex-1">
    <textarea
    placeholder="Message"
    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-stone-900 dark:text-white focus:outline-0 focus:ring-0 border border-[#eacdcd] bg-[#fcf8f8] focus:border-[#eacdcd] min-h-36 placeholder:text-[#a14545] p-[15px] text-base font-normal leading-normal"
    ></textarea>
  </label>
</div>
<div class="flex px-4 py-3 justify-end">
  <button
  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#ff0000] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]"
  >
  <span class="truncate">Send Message</span>
</button>
</div>
</div>
</div>
</div>
</div>