<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f4e6e6] px-4 py-3 sm:px-10">
  <div class="flex flex-1 justify-end gap-8 sm:flex-wrap sm:justify-center">
    <div class="flex items-center gap-9">
      <a lass="text-stone-900 dark:text-white text-sm font-medium leading-normal sm:w-full" href="#">Home</a>
      <a lass="text-stone-900 dark:text-white text-sm font-medium leading-normal sm:w-full" href="#">Programas</a>
    </div>
    <div class="flex gap-2">
      <% if current_user %>
      <%= link_to current_user.email, categories_path, class: "flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-rose-500 text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]" %>
      <% else %>
      <%= link_to 'Iniciar sesión', new_user_session_path, class: "flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#ff0000] text-[#fcf8f8] text-sm font-bold leading-normal tracking-[0.015em]" %>
      <% end %>
  </div>
</div>
</header>
