<footer class="bg-stone-900 py-6">
  <div class="container mx-auto text-center">
  <h2 id='contact' class="text-stone-900 dark:text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 p-10">Contactanos</h2>
    <a href="https://wa.me/5215523371722" target="_blank" rel="noopener noreferrer" class="inline-block">
      <%= image_tag 'icons/whatsapp.png', class: 'w-12 h-12 mx-auto' %>
      <span class="block mt-2 text-gray-300 text-sm">Solicita informes por WhatsApp</span>
    </a>
  </div>
</footer>
