<tr id="<%= dom_id category %>">
  <td class="text-stone-900 dark:text-white text-center border border-slate-600 p-5"><%= category.id %></td>
  <td class="text-stone-900 dark:text-white text-center border border-slate-600 p-5"><%= category.name %></td>
  <td class="border border-slate-600 text-center p-5"><%= link_to "Mostrar categoría", category, class: "ml-2 rounded-lg py-2 px-3 bg-stone-600 inline-block font-medium" %></td>
</tr>