<div class="mx-auto md:w-2/3 w-full mt-10">
  <h1 class="text-3xl font-bold mb-6 text-stone-900 dark:text-white">Editar cartilla deportiva</h1>
  <%= render "form", school: @school, athlete_card: @athlete_card %>
</div>
